main {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2fr;
    flex-grow: 1;
}

h2 {
    color: var(--color-text);
}

h4 {
    margin-bottom: 0;
}

#noResponsive {
    display: none;
}

/*Panel administrador*/
#panelAdm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#panelAdm button {
    border: none;
    padding: 10px;
    background-color: var(--bg-primary-button-pan-adm);
}

#panelAdm button:hover {
    background-color: var(--color-text);
}

#panelAdm h2 {
    align-self: center;
}

/*Formularios*/
#formProd,
#formCat,
#image,
#desCat {
    display: flex;
    flex-direction: column;
}

#image,
#desCat {
    gap: 5px;
}

#formProd button,
#formCat button {
    margin-top: 30px;
    background-color: #235C9F;
    border-radius: 38px;
    padding: 10px;
    border: none;
    color: #F6BF0F;
    font-weight: 600;
}

#desCat input {
    width: 10em;
}

#addProd {
    pointer-events: auto;
}

#descripcion{
    resize: none;
    padding: 12px 20px;
    width: 50%;
    height: 100px;
}

/*Tablas Listar*/
#prodTabla, #catTabla {
   width: 80%;
   border-collapse: collapse;
}

#prodTabla th, #catTabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#prodTabla tr:hover, #catTabla tr:hover {
    background-color: var(--color-text);
}

#prodTabla th, #catTabla th {
    padding: 12px;
    text-align: center;
    background-color: var(--bg-primary-button-pan-adm);
}

/*No responsive*/
@media (max-width: 780px) {
    main {
        display: none;
    }

    #noResponsive {
        display: block;
    }
}